nav{
    background-color: black;
}
nav ul a:hover {
    transform: scale(1.2,1.2);
    transition: 0.3s all;
}
.selected{
    font-weight: bolder;
    font-size: 20px;
    border-bottom: 3px solid white;
}
.selected:hover{
    border-bottom: none;
}
h1, h2, p{
    text-align: center;
}
.container__subtitle{
    font-size: 25px;
}
hr{
    margin: 10px auto;
    width: 30%;
    height: 3px;
    background-color: black;
}
.container__block{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-column-gap: 30px;
    grid-row-gap: 35px;
}
.container__content{
    width: 100%;
    margin: 20px auto;
}
.block__image{
    width: 80%;
    height: auto;
    margin: 10px auto;
}
#pages{
    margin-top: 30px;
}
.block{
    padding: 15px;
}
.block__image img{
    width: 100%;
}
.block:hover{
    box-shadow: 0 0 15px rgba(122,122,122,0.5);
    transition: 0.3s all;
    cursor: pointer;
}
.block:not(:hover){
    box-shadow: none;
    transition: 0.3s all;
    cursor: pointer;
}
.block__title{
    text-align: center;
    font-size: 25px;
}
.block__description, .block__teacher, .block__quantity{
    text-align: center;
} 
.page-footer, .footer-copyright{
    background-color: black;
}

/* form */
.form{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    grid-column-gap: 30px;
    grid-row-gap: 35px;
    box-shadow: 0 0 15px rgb(5, 170, 235);
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;

}
.form__image_left{
    width: 90%;
    margin: 0 auto;
    
}
.form__image_left img{
    width: 100%;
}
.form__content{
    margin-top: 20px;
}
.form__button{
    width: 50%;
    margin: 10px auto;
    height: 50px;
    color: white;
    border: none;

    background: linear-gradient(to top, rgba(219, 158, 240, 1) 0%, rgba(125, 90, 230, 1) 36%, rgba(9, 111, 235, 1) 100%);   
}
.form__button:hover{
    transform: scale(1.2,1.2);
    transition: 0.4s all;
    border: 1px solid rgba(219, 158, 240, 1);
}
.form__content > input{
    font-size: 21px;
    height: 3rem;
}
legend{
    font-size: 21px;
}
.footer-copyright  p{
    font-size: 19px;
}
.block__link{
    width: 100px;
    margin: 5px auto;
    text-align: center;
    font-size: 18px;
}

/* media-request */

@media (max-width:988px) {
    .container__block{
        grid-template-columns: repeat(auto-fit,minmax(600px,1fr));
    }
    .block__description, .block__teacher, .block__quantity{
        font-size: 30px;
    }
    .block__title{
        font-size: 41px;
    }
    h1{
        font-size: 60px;
    }
    .row p{
        font-size: 40px;
    }
    .container__subtitle{
        font-size: 35px;
    }
    #pages{
        font-size: 42px;
    }
    .form__content > input, legend{
        font-size: 30px;
        height: 5rem;
    }
    .form__content > button{
        font-size: 27px;
        height: 70px;
    }
    .footer-copyright  p{
        font-size: 32px;
    }
    .block__link{
        font-size: 28px;
    }
}
